[submodule "src/lib/log"]
	path = src/lib/log
	url = https://github.com/mambrus/liblog.git
[submodule "src/lib/mlist"]
	path = src/lib/mlist
	url = https://github.com/mambrus/libmlist.git
[submodule "src/lib/mtime"]
	path = src/lib/mtime
	url = https://github.com/mambrus/libmtime.git
[submodule "src/embedded"]
	path = src/embedded
	url = ssh://siterepo/ehwe_workbench.git
	ignore = all
[submodule "wiki/wikidata"]
	path = wiki/wikidata
	url = ssh://siterepo/ehwe_wiki.git
